# Medical Analysis

In [33]:
import pandas as pd
import glob, os
import re

In [30]:
os.path.basename('data')

'data'

re.extract

In [37]:
re.match('[^.]', '1000.txt')

In [44]:
re.search('.*[.]', '1000.txt').group(0)

'1000.'

In [32]:
dictio = {}
for file in glob.glob('data/500MNTNews/*.txt')[:5]:
    {os.path.basename(file) :

1000.txt
11359.txt
11377.txt
1149.txt
11557.txt

In [ ]:
l = [pd.read_csv(filename) for filename in glob.glob("/path/*.txt")]
df = pd.concat(l, axis=0)

In [2]:
df = pd.read_csv('data/ground_truth_one_row_per_article.csv')

In [4]:
df.head(2)

,article_id,link,title,main_category,category_1,category_2,category_3,category_4,suprise_r1,suprise_r2,...,c1_familiarity_r3,c2_familiarity_r1,c2_familiarity_r2,c2_familiarity_r3,c3_familiarity_r1,c3_familiarity_r2,c3_familiarity_r3,c4_familiarity_r1,c4_familiarity_r2,c4_familiarity_r3
0,9432,http://www.medicalnewstoday.com/articles/14131...,Depression also a problem in patients with Par...,Depression,Depression,NaN,NaN,NaN,3,1,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,17114,http://www.medicalnewstoday.com/articles/23226...,Testing new manic depression drugs in slime mo...,Depression,Depression,NaN,NaN,NaN,5,5,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.shape

(500, 26)

In [ ]:
pd.re